{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
Детальная страница поста
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>${ post.title }$</h2>
            <p>${ post.content }$</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8">
            <h3>Комментарии</h3>
            <ul class="list-group" v-if="comments.length">
                <li class="list-group-item" v-for="comment in comments" :key="comment.id">
                    <strong>${ comment.author }$</strong>: ${ comment.text }$
                </li>
            </ul>
            <p v-else>Нет комментариев.</p>
            {% if user.is_authenticated %}
            <form @submit.prevent="submitComment">
                <div class="form-group my-3">
                    <label for="comment">Добавить комментарий:</label>
                    <textarea class="form-control" id="comment" v-model="newComment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary my-3">Добавить</button>
            </form>
            {% else %}
            <div class="form-group pt-3 pb-5">
                <a class="text-primary" href="{% url 'login' %}">Авторизуйтесь, чтобы оставить комментарий</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block mixins %}
<script src="{% static 'frontend/assets/js/post-detail.js' %}"></script>
{% endblock %}
